<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Management System</title>
</head>
<body>

<div align="center">
    <h1>Communities List</h1>
    <table>
        <thead>
            <tr>
                <th>Community ID</th>
                <th>Name</th>
                <th>URL</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>